<table width="99%" cellspacing="0" class="grid">
    <tr>
        <th width="70%">$action.getText("title.name")</th>
        <th>$action.getText("author.name")</th>
        <th>$action.getText("macros.blogpost.date.posted")</th>
    </tr>

#foreach ($postTuple in $posts)
    #set ($post = $postTuple.post)
    <tr>
        <td>#contentLink2($post true false)</td>
        <td>#usernameLink($post.creatorName)</td>
        <td>$action.dateFormatter.formatServerDate($post.creationDate)</td>
    </tr>
#end
</table>